<h3>Home</h3>
<% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
<% end %>
<% end %>
<a href="/events"> click here to redirect to seminar topics! </a>
